@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Releway", sans-serif;
    font-weight: 400;
}

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    min-width: 80lvh;
    padding: 20px 30px 20px 30px;

    &__form {
        margin: 25px 25px 25px 25px;
        padding: 25px 25px 25px 25px;
        background-color: #fff;
        width: 900px;
        position: relative;
        border-radius: 12px;

        h1 {
            margin-top: 20px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 25px;
        }        
        h3 {
            text-align: start;
            font-weight: 200;
            font-size: 18px;
            margin-bottom: 10px;
            padding-left: 10px;
        }
    }
    
    .form__inputbox {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        input {
            &:focus {
                outline: none;
            }
        }
    }

    .form__inputbox input {
        border-radius: 20px;
        display: block;
        border: 0.5px solid #ccc;
        font-size: 15px;
        width: 100%;
        padding: 13px;
    }
    
    .form__btn {
        position: relative;
        text-align: center;
        margin: 10px 10px 0px 10px;
        width: auto;
    }
    
    .form__submit {
        border-radius: 10px;
        border: 0.5px solid #ccc;
        font-size: 14px;
        width: 25%;
        padding: 7px 1px 7px 1px;
    }
    
    .options {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            outline: none;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            width: 40px;
            height: 40px;
            transition: 100ms;
            &:hover {
                background-color: #e6e6e6;
                transition: 100ms;
            }

            span {
                color: #353535;
            }
        }
    }
}